<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body
    style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 0; text-align: center;">

    <div
        style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #007BFF;">Password Reset</h1>
        <p style="line-height: 1.6;">To Reset your Password, please click the button
            below :</p>
        <a href="{{ password_reset_link }}"
            style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 3px;">Reset </a>
        <p style="line-height: 1.6;">If you didn't request a password reset, you can safely ignore this email.</p>
        <p>Thank you,</p>
        <p>Majna Team</p>
    </div>

</body>

</html>